<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Monoton&family=Fredoka+One&family=Dancing+Script&family=DotGothic16&family=Shippori+Mincho+B1&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/eternity.css">
    <title>The Infinite Jest</title>
</head>

<body>
    <div class="headerBanner">
        <h1><a id="headerTitle" href="/">THE INFINITE JEST</a></h1>
    </div>

    <div class="box" id="systemDisplay">
        <div class="column left"></div>
        <div id="middleColumn" class="column middle text-center">

            <div id="recommendationFrame">
                <div class="iFrameContainer" id="mediaContainer">
                    <iframe id="presentPlayer" width="640" height="360"
                        src="https://www.youtube.com/embed/<%= youtubeID %>?start=<%=elapsedSeconds%>&autoplay=1&enablejsapi=1&mute=1"
                        style="border: solid 4px #37474F" allow="autoplay" allowFullScreen></iframe>
                </div>

                <div class="headerBanner" id="controlsDiv">
                    <% if(!currentUser){ %>
                        <a id="favoritesButton" class=' controlsBtn'
                            onclick="alert('Hello, you need to be logged in to add favorites!')">Favorites</a>
                        <% } %>
                            <a id="addFavoriteButton" class='controlsBtn' style="display: none;">Add Favorite</a>
                            <a id="removeFavoriteButton" class='controlsBtn' style="display: none;">Remove Favorite</a>
                            <a id="recommendationInfoBtn" class='controlsBtn'>Recommendation Info</a>
                            <div id="pastButtons" style="display: none;">
                                <a id="randomRecommendationBtn" class='controlsBtn'>Random</a>
                            </div>
                </div>

                <div id="presentRecommendationInformation" style="display:none">

                    <p><strong>Why did you recommend this?: </strong><span id="recommendationDescription">
                            <%= presentRecommendation.description %>
                        </span></p>
                    <hr>
                </div>
            </div>


        </div>
    </div>

    <div class="footer">
        <p id="tosf"><span><a target="_blank" href="http://www.theopensourcefactory.com">The Open Source Factory
                    ™
                    .</a></span></p>
        <a id="addRecommendationBtn">Add Music Recommendation</a><br>
        <p id="footerMessage">This project is in memory of David Foster Wallace and all of those who had lost
            the fight
            against their own demons.</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="/scripts/eternity.js"></script>
</body>

</html>