@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  background-color: black;
  color: white;
  background-image: linear-gradient(
    99.9deg,
    rgba(27, 24, 31, 1) 21.2%,
    rgba(50, 4, 89, 1) 84.8%
  );

  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  padding-top: 20px;
  font-family: 'Updock', cursive;
  font-size: 5rem;
  color: yellow;
}

.playerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rainbowBox {
  background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  margin: 20px auto;
}

.footer {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-align: center;
  background-color: black;
  border-top: 1px solid white;
  position: fixed;
  bottom: 0;
  height: 23px;
}
